<% files.forEach(file => { %>
  <li>
    <a target="_blank" href="<%= encodeURI( file ) %>">

      <i class="fas fa-2x fa-file-<%= (file_type( file ) || 'alt') %>"></i>

      <span><%= file.split('/').slice(-1)[0] %></span>
    </a>
  </li>
<% }) %>
