<h2 class="flex-box has-text-centered" style="margin-bottom: 3rem">
  社区活动
  <a class="btn btn-primary" href="new">
    发起活动
  </a>
</h2>
<%-
  partial('widget/calendar', {
    posts:  site.posts,
    type:   page.type
  })
%>
