<h2 class="flex-box has-text-centered">
  <%= page.title %>
  <a class="btn btn-primary" href="launch">
    发起活动
  </a>
</h2>
<hr>
<h3>日历</h3>
<%-
  partial('widget/calendar', {
    posts:  site.posts,
    type:   page.type
  })
%>
<hr>
<h3>地图</h3>
<%-
  partial('widget/marker_map', {
    markers: site.posts.map(
      ({title, permalink, address})  =>  (address && {title, URL: permalink, address})
    ).filter( Boolean )
  })
%>
