<main class="card">
  <div class="card-content content">
    <h2><%= page.title %></h2>
    <%-
      partial('widget/team', {
        keyMap:  {
          mentors:  '导师',
          workers:  '义工',
          authors:  '博客'
        },
        data:    site.data.volunteer,
        count:   true,
        posts:   site.posts
      })
    %>
    <%-
      partial('widget/team', {
        keyMap: {
          partners: '合作伙伴'
        },
        data:   partner_list(site.posts),
        count:  true,
        posts:  site.posts
      })
    %>
  </div>
</main>
