<main class="card">
  <%-
    partial('widget/team', {
      keyMap:  {
        mentors:  '导师',
        workers:  '义工'
      },
      data:    site.data.volunteer,
      count:   true,
      posts:   site.posts
    })
  %>
</main>
